<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <section>
    <article class="wrapper-article">
      <article class="left-article"><img src="/img/icon.gif" /></article>
      <article class="right-article">
        <div>空间登录</div>
        <form action="">
          <p class="name">用户名: <input class="name-input" type="text" name="fname" placeholder="请输入用户名" /></p>
          <p class="name">密&nbsp;&nbsp;&nbsp;&nbsp;码: <input class="name-input" type="text" name="lname" placeholder="请输入密码"/></p>
          <input class="submit" type="submit" value="登录" />
        </form>
        <a class="footer" href="/loginGitHub">使用GitHub登录</a>
      </article>
    </article>
  </section>
</body>
</html>